.dark-mode {
  background-color: rgb(13, 17, 23);
  color: #fff;
}
/* ---- Navbar ---- */
.dark-mode .navbar {
  background-color: rgb(13, 17, 23);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-mode #presentCountNavbar {
  background-color: rgba(0, 255, 0, 0.8);
}
.dark-mode #absentCountNavbar {
  background-color: rgba(255, 0, 0, 0.8);
}
/* ---- Sidebar ---- */
.dark-mode .sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-mode .sidebar img {
  filter: invert(1);
}
.dark-mode .textareaContainer textarea {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}
/* ---- Timetable ---- */
.dark-mode .accordion-container {
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.dark-mode .accordion {
  color: #fff;
}
.dark-mode .cell {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.dark-mode .name {
  background-color: #444;
}
.dark-mode .classroom {
  color: #ddd;
}
.dark-mode #timetableContainer .row:first-child {
  background-color: #444;
}
/* ---- Absent Teachers ---- */
.dark-mode #absentHeader {
  background-color: rgb(13, 17, 23);
  color: #fff;
}
.dark-mode #selectAllBtn,
.dark-mode #resetBtn {
  background-color: rgb(13, 17, 23);
  border: 1px solid rgba(255, 255, 255, 0.7);
}
/* ---- Relief ---- */
.dark-mode .reliefContainer {
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.dark-mode #reliefHeader {
  color: #fff;
}
.dark-mode #generateBtn, 
.dark-mode #clearBtn, 
.dark-mode #pdfBtn, 
.dark-mode #pngBtn {
  background-color: rgb(13, 17, 23);
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.dark-mode #pngBtn {
  color: #fff;
}
.dark-mode .reliefTimetable th {
  background-color: #444;
}
.dark-mode .reliefTimetable select {
  background-color: rgb(13, 17, 23);
  color: #fff;
}
/* ---- Footer ---- */
.dark-mode #quoteDisplay {
  color: #fff;
}
/* ---- Notes ---- */
/* ---- Back To Top ---- */